{% extends "base.html" %}
{% block title%}
about page
{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>Info about our project</h1>
    <p>
    the data set is from kaggle (https://www.kaggle.com/spscientist/students-performance-in-exams)
    </br>
    </p>
   <h3><b> Overview of the Data</b></h3>
   <p>
      This data set includes scores from three exams and a variety of personal, social, and economic factors that have interaction effects upon them.  
    </p>
    <div>
<img src="static\img\passed-gender.png" class="img-fluid" alt="Responsive image">
<img src="static\img\passed-lunch.png" class="img-fluid" alt="Responsive image">
<img src="static\img\passed-parent-education.png" class="img-fluid" alt="Responsive image">
<img src="static\img\passed-test_preparation_course.png" class="img-fluid" alt="Responsive image">

    </div>
  </div>
{% endblock %}
